.details-top {
  display: flex;
  .details-top-left {
    img {
      width: 120px;
    }
    p {
      text-align: center;
      font-size: 16px;
      margin: 0;
    }
  }
  .details-top-right {
    p:first-of-type {
      text-transform: capitalize;
      font-size: 18px;
    }
  }
}

.flavor-text {
  padding: 20px 40px;
}
